<h1 style="color: green; text-align: center">Smartphone Data Loading into PostgreSQL DB </h1>
<hr width: 5px>
<h3>‚úç written by : </h3>
<p><b>Maghouti</b> Aymane <br><b></b> Data engineering Student at the national school of applied sciences of alhociema <b>ENSAH</b></p>
<p style="text-align: right;"><b>23-fev | <span style="color: red;">2024</span></b></p>

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('cleaned_data/smartphone_Data.csv')

In [5]:
df = df[["brand",	"screen_size"	,"ram",	"rom"	,"sim_type"	,"battary"	,"price"]]

In [6]:
df.head()

     brand  screen_size  ram    rom sim_type  battary   price
0    Tecno         6.80  8.0  128.0     Dual   5000.0  1412.0
1  Infinix         6.82  8.0  128.0     Dual   6000.0   822.5
2   XIAOMI         6.52  3.0   64.0     Dual   5000.0   570.0
3    Tecno         6.60  4.0  128.0     Dual   5000.0   922.5
4  Infinix         6.60  2.0   64.0     Dual   5000.0   535.0

### Loading the data into PostgreSQL DB

In [8]:
from sqlalchemy import create_engine

In [13]:

# Create a connection to our PostgreSQL database
engine = create_engine('postgresql://postgres:aymane2002@localhost:5432/ETL-Project')

# Load the DataFrame into the database
df.to_sql('Phone', engine, if_exists='append', index=False)

388